.root {
  --item-inline-padding: 16px;

  position: relative;
  display: flex;
  align-items: center;
  column-gap: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 12.5px;
  font-family: monospace;
  font-weight: 500;
}

.root:not(.selected):hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.selected {
  outline: none;
  background-color: #d3e2fd;
}

.element {
  padding-left: 16px;
}
.lanesIndication {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 16px;
  width: var(--lanes-width);
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.15) 1px,
    transparent 1px
  );
  background-size: 15px 100%;
  background-position: 8px;
}

.html {
  color: #1f1f1f;
}
.component {
  color: #0842a0;
}
.expression {
  color: #8e004b;
}
.text {
  /* color: #8f8f8f; */
  color: #1f1f1f;
}

.classNamesList {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.classNameListItem:before {
  content: ".";
  color: #8f8f8f;
}
/* .classNameListItem:first-child:before {
  content: "className:";
  color: #8f8f8f;
} */
/* .classNameListItem:not(:last-child)::after {
  content: ", ";
  color: #8f8f8f;
} */
