.root {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-items: center;
  column-gap: var(--space-7);
  padding: 4px 12px;
}

.publishButton {
  justify-self: end;
}

.leftSide {
  justify-self: start;
  display: flex;
  align-items: center;
  column-gap: var(--space-2);
  width: 100%;
}

.heading {
  /* Truncate long project names */
  max-width: 300px;
}
