.root {
  --separator-border: transparent;
  --focus-border: var(--accent-indicator);

  height: 100dvh;
  display: grid;
  grid-template-rows: min-content 1fr;
  padding-left: var(--space-3);
  padding-right: var(--space-3);
  padding-bottom: var(--space-3);
}

.main {
  height: 100%;
}

.chatPane {
  display: flex;
}

.mainAreaPane {
  border-radius: var(--radius-4);
  border: 1px solid var(--gray-a5);
}

.browserPane {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  column-gap: 40px;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
}

.mainAreaPane,
.selectionDetailsPane,
.editingDrawerPane {
  --separator-border: var(--gray-a5);
}
